@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Italiana:regular&display=swap);

@charset "UTF-8";

:root {
  --header-text: ;
  --header-text-hover: ;
  --header-text-menu-open: ;
  --header-logo-icon-primary: ;
  --header-logo-icon-secondary: ;
  --header-logo-icon-light: ;
  --header-logo-icon-hover: ;
  --header-logo-text: ;
  --header-logo-text-hover: ;
  --header-logo-text-menu-open: ;
  --header-icon: ;
  --header-icon-hover: ;
  --header-icon-mobile: ;
  --header-icon-bg: ;
  --header-icon-bg-hover: ;
  --header-icon-bg-menu-open: ;
  --header-button-text: ;
  --header-button-text-hover: ;
  --header-button-bg: ;
  --header-button-bg-hover: ;
  --header-button-bg-border: ;
  --header-button-bg-border-hover: ;
  --header-burger: ;
  --header-burger-menu-open: ;
  --header-link-text: ;
  --header-link-text-hover: ;
  --header-link-bg: ;
  --header-link-bg-hover: ;
  --header-link-bg-border: ;
  --header-link-bg-border-hover: ;
  --header-bg: transparent;
  --header-bg-scroll: rgba(0, 0, 0, 0.5);
  --header-bg-menu-body: ;
  --footer-text: ;
  --footer-text-hover: ;
  --footer-title: ;
  --footer-data: ;
  --footer-value: ;
  --footer-value-hover: ;
  --footer-logo-icon-primary: ;
  --footer-logo-icon-secondary: ;
  --footer-logo-icon-light: ;
  --footer-logo-icon-hover: ;
  --footer-logo-text: ;
  --footer-logo-text-hover: ;
  --footer-logo-text-menu-open: ;
  --footer-icon: ;
  --footer-icon-hover: ;
  --footer-icon-bg: ;
  --footer-icon-bg-hover: ;
  --footer-icon-bg-border: ;
  --footer-buttom-text: ;
  --footer-buttom-text-hover: ;
  --footer-button-bg: ;
  --footer-button-bg-hover: ;
  --footer-button-bg-border: ;
  --footer-button-bg-border-hover: ;
  --footer-link-text: ;
  --footer-link-text-hover: ;
  --footer-link-bg: ;
  --footer-link-bg-hover: ;
  --footer-link-bg-border: ;
  --footer-link-bg-border-hover: ;
  --footer-form-text: ;
  --footer-form-bg: ;
  --footer-form-border: ;
  --footer-bg-primary: #172432;
  --footer-bg-secondary: ;
  --main-text-primary: ;
  --main-text-secondary: ;
  --main-text-article: ;
  --main-title-primary: #C1AB81;
  --main-title-secondary: ;
  --main-title-before: ;
  --main-title-article: ;
  --main-title-light: ;
  --main-title-grey: ;
  --main-sub-title-primary: ;
  --main-sub-title-before: ;
  --main-button-text-primary: ;
  --main-button-text-primary-hover: ;
  --main-button-text-secondary: #;
  --main-button-text-secondary-hover: ;
  --main-button-bg-primary: ;
  --main-button-bg-primary-hover: ;
  --main-button-bg-secondary: ;
  --main-button-bg-secondary-hover: ;
  --main-button-bg-transparent: ;
  --main-button-bg-transparent-hover: ;
  --main-button-bg-transparent-border: ;
  --main-button-bg-transparent-border-hover: ;
  --main-button-bg-border: ;
  --main-button-bg-border-hover: ;
  --main-link-text: #C1AB81;
  --main-link-text-hover: #000;
  --main-link-bg: ;
  --main-link-bg-hover: #C1AB81;
  --main-link-bg-border: #C1AB81;
  --main-link-bg-border-hover: ;
  --main-icon: ;
  --main-icon-hover: ;
  --main-icon-bg: ;
  --main-icon-bg-hover: ;
  --main-icon-bg-border: ;
  --main-form-text: ;
  --main-form-bg: ;
  --main-form-border: ;
  --main-form-star: ;
  --main-form-placeholder: ;
  --main-form-arrow: ;
  --main-form-arrow-bg: ;
  --main-border-primary: ;
  --main-bg-primary: ;
  --main-bg-secondary: ;
  --main-bg-block-primary: ;
  --main-bg-block-primary-opacity: ;
  --main-bg-block-secondary: ;
  --main-bg-gradient-primary: ;
  --main-bg-gradient-secondary: ;
  --main-bg-light: ;
  --main-bg-dark: ;
  --main-bg-form: ;
  --main-bg-slider-primary: ;
  --main-bg-slider-secondary: ;
  --main-shadow-primary: 20px 20px 40px 0px rgba(0, 0, 0, 0.50);
  --main-shadow-secondary: ;
  --main-shadow-article: ;
  --main-shadow-article-hover: ;
  --main-shadow-form: ;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  color: #9D875C;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
  -webkit-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 100.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.hero {
  height: 100vh;
  min-height: 34.375rem;
  position: relative;
  background: rgb(157, 135, 92);
}

.hero__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__image-ibg::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -5%;
  left: 0;
  width: 100%;
  height: 18.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#222220), to(rgba(24, 24, 22, 0)));
  background: linear-gradient(180deg, #222220 0%, rgba(24, 24, 22, 0) 100%);
  mix-blend-mode: multiply;
}

.hero__image-ibg img {
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.hero__text-content {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.3125rem;
          flex: 0 1 40.3125rem;
}

.hero__title {
  color: var(--main-title-primary);
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: "Italiana";
  text-transform: capitalize;
}

.hero__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.no-webp .hero__link{
  background: url("../img/button_bg.jpg") 50%/cover no-repeat; }

.hero__link {
  display: inline-block;
  color: var(--main-link-text-hover);
  text-align: center;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-weight: 300;
  line-height: 1.56;
  /* 156.25% */
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--main-link-bg-border);
  padding: 0.625rem 2.5rem 0.6875rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  mix-blend-mode: soft-light;
  position: relative;
  overflow: hidden;
}

.hero__link:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.hero__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightgrey;
  z-index: -1;
  opacity: 0.4;
}

.hero__slider {
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  min-width: 0;
}

.hero__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  height: 120px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(32, 27, 20)), to(#100e07));
  background: linear-gradient(to right, rgb(32, 27, 20), #100e07);
  border-radius: 50%;
  position: relative;
}

.hero__slide.swiper-slide-active {
  -ms-flex-preferred-size: 650px;
      flex-basis: 650px;
  height: 650px;
}

.no-webp .hero__slide:nth-child(1){
  background: url("../img/01_hero/01.jpg") 0 0/cover no-repeat; }

.no-webp .hero__slide:nth-child(2){
  background: url("../img/01_hero/02.jpg") 0 0/cover no-repeat; }

.no-webp .hero__slide:nth-child(3){
  background: url("../img/01_hero/03.jpg") 0 0/cover no-repeat; }

.no-webp .hero__slide:nth-child(4){
  background: url("../img/01_hero/04.jpg") 0 0/cover no-repeat; }

.hero__swiper-control {
  position: absolute;
  right: 10%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.hero__swiper-button-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .hero__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}

@media (min-width: 100.125em) {
  .hero__body {
    padding-top: 9.375rem;
  }

  .hero__body {
    padding-bottom: 9.375rem;
  }

  .hero__title {
    font-size: 6.25rem;
  }
}

@media (max-width: 20em) {
  .hero__body {
    padding-top: 6.25rem;
  }

  .hero__body {
    padding-bottom: 3.75rem;
  }

  .hero__title {
    font-size: 2.125rem;
  }
}

@media (min-width: 20em) and (max-width: 100.125em) {
@supports (padding-top: clamp( 6.25rem , 5.4699687988rem  +  3.9001560062vw , 9.375rem )) {
    .hero__body {
      padding-top: clamp( 6.25rem , 5.4699687988rem  +  3.9001560062vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.4699687988rem  +  3.9001560062vw , 9.375rem )) {
    .hero__body {
      padding-top: calc(6.25rem + 3.125 * (100vw - 20rem) / 80.125);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.3459438378rem  +  7.0202808112vw , 9.375rem )) {
    .hero__body {
      padding-bottom: clamp( 3.75rem , 2.3459438378rem  +  7.0202808112vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.3459438378rem  +  7.0202808112vw , 9.375rem )) {
    .hero__body {
      padding-bottom: calc(3.75rem + 5.625 * (100vw - 20rem) / 80.125);
    }
}

@supports (font-size: clamp( 2.125rem , 1.0953588144rem  +  5.1482059282vw , 6.25rem )) {
    .hero__title {
      font-size: clamp( 2.125rem , 1.0953588144rem  +  5.1482059282vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.0953588144rem  +  5.1482059282vw , 6.25rem )) {
    .hero__title {
      font-size: calc(2.125rem + 4.125 * (100vw - 20rem) / 80.125);
    }
}
}

.webp .hero__link{ background: url(../img/button_bg.webp) 50%/cover no-repeat; }

.webp .hero__slide:nth-child(1){ background: url(../img/01_hero/01.webp) 0 0/cover no-repeat; }

.webp .hero__slide:nth-child(2){ background: url(../img/01_hero/02.webp) 0 0/cover no-repeat; }

.webp .hero__slide:nth-child(3){ background: url(../img/01_hero/03.webp) 0 0/cover no-repeat; }

.webp .hero__slide:nth-child(4){ background: url(../img/01_hero/04.webp) 0 0/cover no-repeat; }